
.idea/
.mixin.out/
XaeroWorldMap/
crash-reports/
downloads/
journeymap/
logs/
mods/
resourcepacks/
saves/
screenshots/
shaderpacks/

.curseclient
config/jei/worldSettings.cfg
crafttweaker.log
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json
